<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Resume Creator || Home Page</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="style.css">
    <style>
        .card {
            width: 90%;
            height: auto;
            padding: 1rem;
            background-color: #ffffff;
            border-radius: 1.3rem;
            margin: 2rem auto;
        }

        .card-body {
            padding: 1rem;
        }
    </style>


</head>


<body>
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <a href="/home"> <img src="img/logo1.png" width="130px"></a>
            </div>
            <nav>
                <ul style="display: flex;justify-content:flex-end;align-items:center">


                    <li><a href="/resume">Create Resume</a> </li>
                    <li><a href="/readfile">Read File</a> </li>
                    <li><a href="/logout">Logout</a> </li>
                    <li style="text-transform: capitalize;"><i class="fas fa-users" style="color: rgb(82, 8, 255);"></i> {{name}}</li>
                    <li>
                        <img style="height: 50px;width:50px;border-radius:50%;" src="/images/upload_images/{{image}}"
                            alt="">
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="small-container">
        <div class="row my-5">
            <div class="col-md-9 col-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        {{data}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Dowload Our App</h3>
                    <p>Download App for Android and ios Mobile Phone.</p>
                    <div class="app-logo">
                        <img src="img/play-store.png">
                        <img src="img/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="/logo1.png" width="80" height="80" style="background-color: #ffffff;">
                    <p>Our Purpose Is To Make This Site More Popular Than Amazone, Flipkart etc..</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupns</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affilicate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Folow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">@Copyright 2050</p>
        </div>
    </div>
</body>

</html>